<!DOCTYPE html>
<html style = "height: 100%;">
<body style ="background: linear-gradient(to bottom right, #AFEEEE, #F4A460);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;">
<head>
  <title>Welcome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Alice Chin", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
     	<li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Add Footer -->
<!-- Links are in footer layout -->
	<div class="container">
	  <%= yield %>
	  <%= render 'layouts/footer' %>
	 </div>
</body>

</html>
